*~
Makefile
autom4te.cache/
config.h
config.log
config.status
stamp-h1
src/**/*.o
src/**/Makefile
src/**/*.a
src/**/.deps
src/**/.clang_complete
src/**/*.dwo
src/parser/tiger_lexer.cc
src/parser/tiger_parser.cc
src/parser/tiger_parser.hh
src/parser/stack.hh
src/parser/position.hh
src/parser/location.hh
src/parser/bison-graph.gv
src/parser/bison-report.txt
src/driver/dtiger

